* {
    font-family: 'Overpass', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

html {
    background-image: url(https://lh3.googleusercontent.com/VypsWxq3kS3g7SPuTabuz7DAaIlSTpOeaJ6xcSxkO9gwT9C1Dze3GsTCFyDFS9MOXeosDFJDs00yKd9ZcGgt3PpG2Af09QnBBkjw4NzxkIc=s750);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }


body {
    max-width: 90%;
    margin: auto;
    border-style: solid;
    border-color: #18407c;
    background-color: white;
    opacity: 0.9;
}
/* Header secton*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #18407c;
    padding: 10px 30px 10px 30px;
}

header h1 {
    color: #18d26e;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #18407c;
    border-bottom-color: #18407c;
    border-top-width: 5px;
    border-bottom-width: 5px;
    padding: 0px 20px 0px 20px;
    font-size: 30px;
}

header h1:hover {
    border-top-color: #18d26e;
    border-bottom-color: #18d26e;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    background-color: #18407c;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

nav a:hover {
    background-color: #18d26e;
}

/*Main section*/

#main {
    padding: 20px 30px 20px 30px;
}

.report-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.report-intro h1 {
    font-family: 'Overpass', sans-serif;
    color: #18d26e;
    font-size: 30px;
    padding-top: 5px;
    margin-bottom: 0px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: #18407c;
    border-top-color: #18407c;   
}

.report-intro p {
    font-size: 20px;
    font-weight: 600;
    color: #18407c;
    margin-top: 10px;
}

/* Input section */

form {
    background-color: #18407c;
    padding: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    box-shadow: 5px 5px 5px #18d26e;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

form input, form input::placeholder, form input:focus {
    background-color: none;
    border-style: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #18407c;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}

.input-buttons {
    align-self: top;
}

.input-buttons input, .input-buttons button {
    background-color: #18d26e;
    color: #18407c;
    width: 100%;
    align-self: top;
    border-style: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;

}

.input-buttons input:hover, .input-buttons button:hover {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #18d26e;
}

/* Daily reports section */

.report-det {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.shed-report {
    background-color: #18407c;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #18d26e;
    padding: 20px;
}

.shed-report h2 {
    font-size: 18px;
    width: fit-content;
    color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #18d26e;
    padding-bottom: 7px;
}

.shed-report p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.shed-report span {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #18d26e;
    color: #18407c;
    max-width: max-content;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}

#monthly-report-det {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.shed-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shed-month p {
    margin: 10px;
}

#month {
    margin: 50px;
}

.month-totals span {
    background-color: white;
    color: #18407c;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #18d26e;
}

